<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <title>Agent</title>
    <style>
        table {
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
</head>
<body>

<script>
    let interval;
    let message;
    let start;
</script>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="planet" th:fragment="planet">
            <table class="table table-bordered">
                <tr th:each="rowFiled: ${planetField}" style="height: 30px; width: 30px">
                    <td th:each="columnFiled : ${rowFiled}" th:text="${columnFiled.getItem()}"
                        th:class="${columnFiled.isPath()} ? 'path drawCell' : 'drawCell'"
                        th:classappend="${columnFiled.isResource()} ? 'treasures' : (${columnFiled.isAlien()} ? 'alien' : (${columnFiled.isBase()} ? 'base' : null))">
                    </td>
                </tr>
            </table>
            <script th:inline="javascript">
                message = /*[[${msg}]]*/ null;
                start = /*[[${start}]]*/ null;

                if (message !== null) {
                    clearInterval(interval);
                    bootbox.alert(message);
                }

                if (start !== null) {
                    slide();
                }
            </script>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form th:action="@{/start-new-planet}" method="post">
            <div class="form-group">
                <label for="numOfAgents">Number of agents</label>
                <input type="number" class="form-control" id="numOfAgents" placeholder="3" name="numOfAgents"/>
            </div>
            <div class="form-group">
                <label for="numOfResources">Number of resources</label>
                <input type="number" class="form-control" id="numOfResources" placeholder="3" name="numOfResources"/>
            </div>
            <button type="submit" class="btn btn-default">Start!</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<script>
    window.onload = function start() {
        slide();
    };

    function slide() {
        interval = setInterval(function () {
            $("#planet").load("/generate");
        }, 100); // repeat forever, polling every 3 seconds
    }
</script>
</body>
</html>